.title{
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 120px;
  color:red;
  background-color: aquamarine;
}

.go_todos{
  background:yellowgreen;
  font-weight: bold;
  padding:1em 1em;
  border:black 1px solid;
  text-decoration:none;
  font-size:45px;
  display:block;
  width:250px;
  margin: auto;
  margin-top: 300px;
}

body {
  background: url(https://userdisk.webry.biglobe.ne.jp/012/472/52/N000/000/000/BG14a_80.jpg) center center / cover no-repeat fixed;
}